@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    /*body*/
:root{
    --font1: 'Passion';
    --font2: 'Sriracha';
}
header{
    position: relative;
    background-color: black;
    height: 35vw;
    max-height: 330px;
}
@font-face {
    font-family: Passion;
    src: url(fontes/PassionOne-Bold.ttf);
}
@font-face {
    font-family: Sriracha;
    src: url(fontes/Sriracha-Regular.ttf);
}
header > h1{
    position: absolute;
    color: white;
    font-family: var(--font1);
    font-size: 10vw;
    width: 70vw;
    text-align: center;
    font-variant: small-caps;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}
header > p {
    font-family: sans-serif;
    text-align: center;
    color: white;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);

}
header > p > strong >  a{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
article{
    padding-top: 60px;
}
section#normal1{
    padding-bottom: 8vh;
}
section#normal1 > article.verso1{
    background: white;
    width: 96%;
    height: 50vw;
}
section#normal1 > article.verso1 > p{
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 3.5vw;
}
section#imagem1{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514) inset;
    padding-top: 8vh;
    padding-bottom: 8vh;
    width: 100%;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center; 
}
section#imagem1 > article{
    background-color: black; opacity:0.5;
    margin-left: 30px;
    padding: 0px;
}
section#imagem1 > article.verso2{
    background-color: black; opacity:0.6;
    padding-left: 6px;
    width: 42vw;
}
section#imagem1 > article.verso2 > p{
    font-family: var(--font2);
    font-size: 3.5vw;
    color: white;
}

article.verso3{
    padding-bottom: 110px;
    padding-left: 30px;
    margin-bottom: 30px;
}

section#normal2{
    padding-bottom: 8v
}
section#normal2>article{
    background-color: white;
    width: 50%;
}

section#normal2 >article >p{
    font-family: var(--font2);
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 3.5vw;
}

section#imagem2{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514) inset;
    padding-top: 8vh;
    padding-bottom: 8vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-image: url(imagens/background002.jpg);
}

section#imagem2 > article{
    background-color: black; opacity:0.5;
    margin-left: 30px;
    padding: 0px;
}
section#imagem2 > article.verso4{
    padding-left: 6px;
    width: 42vw;
}
section#imagem2 > article.verso4> p{
    font-family: var(--font2);
    font-size: 3.5vw;
    color: white;
}

article.verso5{
    padding-bottom: 30px;
    padding-left: 30px;
}
section#normal3{
    margin-bottom: 60px;
    padding-bottom: 8vh;

}
section#normal3 >article{
    background-color: white;;
}

section#normal3 >article >p{
    font-family: var(--font2);
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 3.5vw;
}

footer{
    width: 100%;
    background-color: black;
}
footer >p {
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 10px;
}



