@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
:root{
    --font1: 'Passion';
    --font2: 'Sriracha';

}
@font-face {
    font-family: Passion;
    src: url(fontes/PassionOne-Bold.ttf);
}
@font-face {
    font-family: Sriracha;
    src: url(fontes/Sriracha-Regular.ttf);
}
header{
    position: relative;
    background-color: black;
    height: 35vw;
    max-height: 330px;
}

header > h1{
    padding-top: 50px;
    color: white;
    font-family: var(--font1);
    font-size: 10vw;
    text-align: center;
    font-variant: small-caps;
}
header > p {
    font-family: sans-serif;
    text-align: center;
    color: white;
    padding-bottom: 50px;
}
header > p > strong >  a{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
section#normal1{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
article{ 
    padding-left: 30px;
}
p{
    line-height: 2em;
}
section#normal1 > article.verso1 > p{
    font-family: var(--font2);
    font-size: 3.5vw;
}
section#imagem1{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514) inset;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center; 
}
section#imagem1 > article{
    background-color: rgba(0, 0, 0, 0.459);
    margin-left: 30px;
    padding: 0px;
}
section#imagem1 > article.verso2{
    padding: 5px;
    display: inline-block; /*para ajustar ao tamanho*/
}
section#imagem1 > article.verso2 > p{
    font-family: var(--font2);
    font-size: 3.5vw;
    color: white;
    text-shadow: 1px 1px 0px black;
}

section#normal2{
    padding-top: 10vh;
    padding-bottom: 10vh;
}
section#normal2>article{
    background-color: white;
}
section#normal2 >article >p{
    font-family: var(--font2);
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 3.5vw;
}
section#imagem2{
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.514) inset;
    padding-top: 10vh;
    padding-bottom: 10vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-image: url(imagens/background002.jpg);
}

section#imagem2 > article{
    background-color: rgba(0, 0, 0, 0.459);
    margin-left: 30px;
    padding: 0px;
}
section#imagem2 > article.verso4{
    padding: 5px;
    display: inline-block;  /*para ajustar ao tamanho*/
}
section#imagem2 > article.verso4> p{
    font-family: var(--font2);
    font-size: 3.5vw;
    color: white;
    text-shadow: 1px 1px 0px black;
}
section#normal3{
    padding-top: 10vh;
    padding-bottom: 15vh;

}
section#normal3 >article{
    background-color: white;;
}

section#normal3 >article >p{
    font-family: var(--font2);
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 3.5vw;
}
footer{
    background-color: black;
}
footer >p {
    text-align: center;
    font-family: sans-serif;
    padding: 10px;
}