@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
    border: 0px;
}
    /*body*/
:root{
    --font1: 'Passion';
    --font2: 'Sriracha';
}
header{
    background-color: black;
    height: 35vw;
    max-height: 280px;
    padding: 0px;
    margin: 0px;
    border: 0px;
}
@font-face {
    font-family: Passion;
    src: url(fontes/PassionOne-Bold.ttf);
}
@font-face {
    font-family: Sriracha;
    src: url(fontes/Sriracha-Regular.ttf);
}
header > h1{
    color: white;
    font-family: var(--font1);
    font-size: 10vw;
    text-align: center;
    padding-top: 50px;
    font-variant: small-caps;

}
header > p {
    font-family: sans-serif;
    text-align: center;
    color: white;
}
header > p > strong >  a{
    color: white;
    text-decoration: none;
}
a{
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
article{
    padding-top: 90px;
}
section#imagem1{
    height: 1000px;
    width: 100%;
    background-image: url(imagens/background001.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right center;
}
section#normal1{
    height: 70vw;
    max-height: 70vw;
    margin-bottom: 90px;
}
section#normal1 > article.verso1{
    background: white;
    width: 96%;
    height: 50px;
}
section#normal1 > article.verso1 > p{
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 3.5vw;
}


article.verso2{
    width: 355px;
}
section#imagem1{
    height: 200px;
    height: 73vw;
    max-height: 1000px;
    padding-top: 5vw;
}
section#imagem1 > article{
    background-color: black; opacity:0.5;
    margin-left: 30px;
    padding: 0px;
    width: 56vw;
    height: 50vw;
}
section#imagem1 > article.verso2> p{
    padding-left: 30px;
    font-family: var(--font2);
    font-size: 4vw;
    color: white;
}

article.verso3{
    padding-bottom: 110px;
    padding-left: 30px;
    margin-bottom: 30px;
}

section#normal >article{
    background-color: white;
    width: 100%;
    height: 90vw;
}

section#normal >article >p{
    font-family: var(--font2);
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 3.5vw;
}

section#imagem2{
    height: 1000px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left center;
    background-image: url(imagens/background002.jpg);

}
article.verso4{
    padding-bottom: 110px;
    padding-left: 10px;
    margin-bottom: 30px;
    margin-left: 30px;
    width: 365px;
}
section#imagem2{
    background-color: white;
    height: 560px;
}
section#imagem2 > article.verso4> p{
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 30px;
    color: white;
    background-color: black; opacity:0.4;filter:alpha(opacity=40);

}


article.verso5{
    padding-bottom: 30px;
    padding-left: 30px;
    margin-bottom: 30px;
}

section#normal >article{
    background-color: white;;
}

section#normal >article >p{
    font-family: var(--font2);
    padding-left: 5px;
    font-family: var(--font2);
    font-size: 3.5vw;
}
footer{
    background-color: black;
}
footer >p {
    text-align: center;
    font-family: sans-serif;
    color: white;
    padding: 10px;
}



