div{
    background-color: lightgray;
    text-align: center;
    height: 200px;
    width: 200px;
    border: 1px solid black;
    display: inline-block; 
}

div#d1:hover{
    background-color: rgb(255, 0, 0);
}

div > p {
    color: red;
    display: none;
}

div:hover > p{
    background-color: black;
    display: block;
}
